.products-div{
    display: flex;
    gap: 30px;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-buttons{
  margin: 0 auto;
  display: block;
  color: white;
  background: var(--Red-color);
  border: none;
  border-radius: 8px;
  height: 56px;
  width: 230px;
  cursor: pointer;
}
