.contact .form-contact{
    justify-content: space-around;
    padding: 40px 30px;
    box-shadow: 0px 0px 17px 4px #8080807a;
    height: 500px;
    gap: 50px;
}
.contact .form-contact input, .contact .form-contact textarea{
    background: #80808026;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.contact .form-contact input{
    height: 50px;
    width: calc(100% / 3.2);
}    
.contact .form-contact textarea{
    height: 150px;
}
.contact .main-buttons{
    margin: 0 0 auto auto;
}
@media screen and (max-width: 992px){
    .contact .form-contact .flex-bw{
        flex-wrap: wrap;
        gap: 10px;
    }
    .contact .form-contact input{
        width: 100%;
    } 
    .contact .main-buttons {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px){
   .contact .form-contact{
        width: 100%;   
    }
}
