.signUp .container{
    padding: 60px 135px 140px 0 ;
}
.signUp img{
    width: 50%;
}
@media screen and (max-width:992px){
    .signUp .container{
        padding: 60px 30px 80px 0 !important;
    }
}
@media screen and (max-width:768px){
    .signUp img {
        width: 48%;
    }
}    
@media screen and (max-width:600px){
    .signUp .container{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .signUp img {
        width: 90%;
    }
}
